apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-server-deployment
  namespace: core
spec:
  selector:
    matchLabels:
      app: go-server
  template:
    metadata:
      labels:
        app: go-server
    spec:
      imagePullSecrets:
        - name: docker-secret
      containers:
        - name: go-server
          image: ghcr.io/imerkle/balancer-view-server:latest
          env:
            - name: POSTGRES_CONN
              value: "postgres://postgres:postgres@postgres-service.core.svc.cluster.local:5432/postgres"
            - name: PORT
              value: "80"
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: go-server-service
  namespace: core
spec:
  type: ClusterIP
  selector:
    app: go-server
  ports:
    - port: 80
      targetPort: 80
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: core
  name: go-server-ingress
  annotations:
    kubernetes.io/ingress.class: "nginx"
spec:
  rules:
    - host: balancerviewserver.157.230.214.89.nip.io
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: go-server-service
                port:
                  number: 80
