apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-server-deployment
  namespace: core
spec:
  selector:
    matchLabels:
      app: go-server
  template:
    metadata:
      labels:
        app: go-server
    spec:
      imagePullSecrets:
        - name: docker-secret
      containers:
        - name: go-server
          image: ghcr.io/imerkle/balancer-view-server:4d6c9297ece2ddeb74c2ad28a1faf926d9d442d7
          env:
            - name: POSTGRES_CONN
              value: "postgres://postgres:postgres@postgres-service.core.svc.cluster.local:5432/postgres"
            - name: PORT
              value: "80"
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: go-server-service
  namespace: core
spec:
  type: ClusterIP
  selector:
    app: go-server
  ports:
    - port: 80
      targetPort: 80
