apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui-deployment
  namespace: core
  annotations:
    service.beta.kubernetes.io/do-loadbalancer-protocol: "http"
spec:
  selector:
    matchLabels:
      app: ui
  template:
    metadata:
      labels:
        app: ui
    spec:
      imagePullSecrets:
        - name: docker-secret
      containers:
        - name: ui
          image: ghcr.io/imerkle/balancer-view-ui:latest
          resources:
            requests:
              memory: "32Mi"
              cpu: "100m"
            limits:
              memory: "500Mi"
              cpu: "500m"
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: ui-service
  namespace: core
spec:
  selector:
    app: ui
  ports:
    - port: 80
      targetPort: 80
